---
BasedOnStyle: Google
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros:
  Enabled: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
BinPackArguments: false
BinPackParameters: false
IndentWidth: 4
InsertNewlineAtEOF: true
PackConstructorInitializers: CurrentLine
RemoveBracesLLVM: true
SpaceBeforeCpp11BracedList: true
